.main {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Vertical gap between child elements */
}

.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 20px; /* Vertical gap between child elements */
    margin-top: 20px;
}

.header .subtitle {
    font-size: 36px;
    font-weight: 600;
}

.header .title {
    font-size: 48px;
    font-weight: 800;
    border: 4px solid var(--black); /* Border style */
    border-radius: 10px; /* Border radius */
    width: 100%;
    max-width: 800px; /* Maximum width */
    text-align: center;
    padding: 20px; /* Padding inside the element */
    background-color: var(--green); /* Background color */
    color: white; /* Text color */
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px; /* Maximum width of the body */
    margin: auto; /* Center align horizontally */
    gap: 20px; /* Vertical gap between child elements */
}

.info {
    display: flex;
    gap: 20px; /* Horizontal gap between child elements */
}

.location {
    border: 4px solid var(--dark-green); /* Border style */
    border-radius: 10px; /* Border radius */
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Vertical gap between child elements */
    background-color: white; /* Background color */
}

.blurb {
    border: 4px solid var(--dark-green); /* Border style */
    border-radius: 10px; /* Border radius */
    font-size: 24px;
    padding: 30px; /* Padding inside the element */
    flex: 1; /* Flex-grow to fill available space */
}

.date {
    font-weight: 500; /* Font weight */
    margin-top: 10px; /* Top margin */
}

.links {
    display: flex;
    gap: 50px; /* Horizontal gap between child elements */
    width: 70vw; /* Width relative to viewport width */
    margin: auto; /* Center align horizontally */
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center align items vertically */
}

.footer button {
    padding: 10px 20px; /* Padding inside the button */
    font-size: 20px; /* Font size */
    border: 3px solid var(--black); /* Border style */
    color: var(--black); /* Text color */
}

.footer button:hover {
    background-color: var(--gray); /* Background color on hover */
    color: var(--black); /* Text color on hover */
    cursor: pointer; /* Cursor style on hover */
}

.calendarlink {
    height: 100%; /* Full height */
}

.calendarlink img {
    height: 45px; /* Image height */
}
