/* Styling for the game field */
.field {
    height: 500px; /* Set the height of the game field */
    background-color: var(--blue); /* Background color */
    border: 4px solid var(--dark-blue); /* Border styling */
    border-radius: 10px; /* Rounded corners */
    position: relative; /* Position relative for absolute positioning */
    overflow-y: hidden; /* Hide vertical overflow */
    margin: 1em 2em; /* Margin around the field */
    cursor: none; /* Hide default cursor */
    overflow: hidden; /* Hide overflow */
}

/* Styling for the cursor-following image */
#cursor-follow-image {
    position: absolute; /* Absolute positioning */
    width: 50px; /* Image width */
    height: 50px; /* Image height */
    pointer-events: none; /* Ignore pointer events to allow clicks through */
    z-index: 100; /* Ensure it's above other elements */
}

/* Styling for dots */
.dot {
    border: .5px solid rgba(130, 130, 130, 0.5); /* Border styling */
    opacity: 0.8; /* Opacity */
    border-radius: 50%; /* Rounded shape */
    position: absolute; /* Absolute positioning */
}

/* Styling for control buttons */
.control__buttons {
    display: flex; /* Flex layout */
    gap: 50px; /* Gap between buttons */
    width: 70vw; /* Width of the buttons container */
    margin: auto; /* Center align horizontally */
}

/* Styling for speed control */
.control__speed {
    font-size: 24px; /* Font size */
    padding: 0; /* Reset padding */
    margin: 20px; /* Margin */
}

/* Styling for green button */
.green-button {
    border: 4px solid var(--dark-green); /* Border styling */
    color: var(--dark-green); /* Text color */
}

.green-button:hover {
    color: white; /* Text color on hover */
    background-color: var(--green); /* Background color on hover */
}

/* Reset default paragraph margin and padding */
p {
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
}

/* Styling for score display */
.score {
    font-size: 30px; /* Font size */
    font-weight: 600; /* Font weight */
}

/* Styling for game instructions */
.instructions {
    font-size: 36px; /* Font size */
    margin: 8px; /* Margin */
    padding: 12px; /* Padding */
}
