button {
    padding: 20px 10px;
    border-radius: 20px;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    border: 4px solid var(--dark-red);
    color: var(--dark-red);
}

button:hover {
    color: white;
    background-color: var(--red);
}